@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-scale {
  animation: scale 4s ease-in-out infinite;
}

@keyframes scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.subtitle {
  @apply relative w-fit flex items-center gap-2 text-primary text-xl font-semibold uppercase after:content-[''] after:absolute after:w-12 after:h-[2px] after:bg-primary after:-right-16 after:hidden sm:after:block;
}
